.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 500px;
}

.about-first > p {
  font-family: sans-serif;
}

.specific-wander {
  background-color: #d2dacf;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-wander > p {
  margin: auto 500px;
  font-family: sans-serif;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .about-first {
    margin: 2%;
  }

  .specific-wander > p {
    margin: 2%;
  }
}
